
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0px;

    p {
        color: var(--color-gray-1);
    }
}

h3 {
    color: var(--color-gray-0)
}

p {
    color: var(--color-gray-1)
}