header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: var(--color-primary);
    }
    
    button {
        box-sizing: border-box;
        width: 7rem;
    }
}